.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    display: inline-block;
    width: 32px;
    height:18px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.slider::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    transition: transform 0.3s ease-in-out;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider::before {
    transform: translateX(14px);
}

body {
    font-family: "Rboto", Arial, sans-serif;
    margin: 0;
    background-color: black;
}

#games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 1rem;
}

figure {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    background-color: rgb(55, 67, 119);
    border-radius: 25px;
    min-height: 300px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    max-width: 700px;
    filter: drop-shadow(18px 18px 8px rgb(234, 0, 255));
    transition: transform 0.3s ease, filter 0.3s ease;
}

#div1 {
    display: flex;
}

#freeimg {
    width: 40px;
    margin: 10px;
    margin-left: auto;
}

figure button {
    width: 100px;
    height: auto;
    color: black;
    border: 0;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    margin-left: 0;
}

#expand {
    width: 100px;
    height: 20px;
    color: black;
    border: 0;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    margin-left: auto;
}

#clearb {
    width: 100px;
    height: 20px;
    color: black;
    border: 0;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
}

figure img {
    width: auto;
    height: auto;
}

#demoimg {
    width: 40px;
    margin: 10px;
    margin-left: auto;
    
}

.hide {
    display: none;
}

header img {
    width: 15px;
    height: auto;
}

select {
    border: 0;
    height: 20px;
    border-radius: 25px;
}

label {
    margin-left: 10px;
    color: white;
}

.icon img {
    width: 20px;
    height: auto;
    padding: 5px;
}

.icon-container {
    display: flex;
}

h1 {
    text-decoration: none;
    height: 12px;
    width: auto;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

#filtersystem {
    display: flex;
    flex-direction: column;
}

#showalltime {
    display: flex;
    flex-direction: row;
}

select {
    margin-top: 20px;
}

header {
    background: linear-gradient(90deg, red, purple, blue);
    padding: 10px;
    color: #ffffff;
    display: flex;
}

@media screen and (min-width: 500px) {
    header {
        min-height: 40px;
        overflow: hidden; /* Prevents content from overflowing */
        transition: max-height 1s ease-in-out, padding 0.4s ease-in-out;
    }
    
    header.expanded {
        max-height: 500px;
        padding-bottom: 20px;
        transition: min-height 1s ease-in-out, padding 0.4s ease-in-out;
    }

    figure:hover {
        transform: scale(1.1);
        filter: drop-shadow(16px 16px 30px rgb(234, 0, 255));
    }
}

@media screen and (max-width: 500px) {
    header {
        max-height: 100px;
        overflow: hidden; /* Prevents content from overflowing */
        transition: max-height 1s ease-in-out, padding 0.4s ease-in-out;
    }

    #showalltime {
        display: flex;
        flex-direction: column;
    }
    
    header.expanded {
        max-height: 500px;
        padding-bottom: 20px;
    }
}